<div class="container">
  <div class="row">
    <div class="col-12 d-flex align-items-center justify-content-center">
      <div>
        <%= image_tag @user.get_profile_image(100,100), class: "rounded-circle" %>
      </div>
      <div class="ml-3">
        <h3><%= @user.name %></h3>
      </div>
      <div class="ml-3">
        <% if @user == current_user %>
        <%= link_to edit_user_path(@user), class: "btn btn-secondary" do %>
          <i class="fa-solid fa-user-gear"></i>
        <% end %>
      <% end %>
      </div>
    </div>
  </div>
</div>

<%= render "post_images/list", post_images: @post_images %>